@import "src/styles.scss";

.message-box {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px;
    overflow-x: hidden;

    .report {
        display: none;
    }
}

.message-box:hover {
    background-color: $discode-darker;

    .btn-discode-darker {
        background-color: $discode-green !important;
        color: black;
    }

    .report {
        display: inline;
    }
}

.message-box::after {
    content: "";
    clear: both;
    display: table;
}

.message-time {
    font-size: small;
    font-style: italic;
    margin-top: 3px;
}

.username{
    font-weight: bold;
}

.divider {
    color: $discode-blue;
}

.report {
    font-style: italic;
    color: $discode-green;
    margin-left: 10px;
}

.report:hover{
    cursor: pointer;
    color: $discode-dark-green;
}

.more-actions {
    margin-left: 52vw;
}

li .menu-list{
    cursor: pointer;
}

.message-profile-pic {
    width: 100%;
    height: 100%;
    float: left;
    max-width: 60px;
    margin-right: 20px;
}

.message-info>span {
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex; 
    justify-content: center
}