<div class="message-box">
    <div class="message-container d-flex-row">
        <img src="https://icons.iconarchive.com/icons/papirus-team/papirus-status/512/avatar-default-icon.png" alt="Avatar" class="message-profile-pic">
        <div>
            <div class="d-flex-row message-info">
                <span class="username">{{message?.author?.username}}</span>
                <span class="divider">|</span>
                <span class="message-time">{{transform(message?.creationDate!!)}}</span>
                <span class="report">Report</span>
            </div>
            <div class="message-content">{{message?.content}}</div>
        </div>
    </div>
</div>