<div class="message-box">
    <div class="message-container d-flex-row">
        <img *ngIf="message?.author?.imagePath === null" src="http://90.95.160.110:8008/api/images/default.png" alt="Avatar"
            class="message-profile-pic">
        <img *ngIf="message?.author?.imagePath !== null"
            src="http://90.95.160.110:8008/api/images/{{message?.author?.imagePath}}" alt="Avatar"
            class="message-profile-pic">
        <div>
            <div class="d-flex-row message-info">
                <span class="username">{{message?.author?.username}}</span>
                <span class="divider">|</span>
                <span class="message-time">{{transform(message?.creationDate!!)}}</span>
                <span *ngIf="message?.author?.userId != userId" class="report" (click)="openModal()">Report</span>
                <div *ngIf="isCode()">

                </div>
            </div>
            <div *ngIf="isCode()">
                <pre class='code-window code-content'><code [highlight]="code!"></code></pre>
                <div class="code-options d-flex">
                    <span class="d-flex-row">
                        <select class="form-select select-discode-green language-selector" [ngModel]="mode"
                            (ngModelChange)="onChange($event)">
                            <option value="" selected [disabled]="true">Select a language</option>
                            <option *ngFor="let language of languages" value="{{language.name}}">
                                {{language.displayName}}</option>
                        </select>
                        <button class="btn btn-primary btn-discode-green" [disabled]="mode == ''" type="button"
                            (click)="runCode()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" fill="currentColor"
                                class="bi bi-play-fill" viewBox="0 0 16 16">
                                <path
                                    d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                            </svg>
                        </button>
                    </span>
                    <code *ngIf="message.codeOutput">
                        <pre class='code-window code-output'>{{message.codeOutput}}</pre>
                    </code>
                </div>
            </div>
            <div *ngIf="!isCode()" class="message-content">
                <pre>{{message?.content}}</pre>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Report message</h5>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <form class="form-discode-blue" role="reason">
                            <div class="mb-4 border-primary">
                                <label class="form-label">Reason</label>
                                <textarea name="reason" rows="3" cols="60" class="form-control" placeholder="..."
                                    style="resize: none;" [(ngModel)]="reason"></textarea>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-discode-dark" data-bs-dismiss="modal"
                        (click)="onCloseHandled()">Cancel</button>

                    <button type="button" class="btn btn-secondary btn-discode-green" data-bs-dismiss="modal"
                        (click)="reportMessage()">Report</button>
                </div>
            </div>
        </div>
    </div>

</div>