<p>{{chatName}}</p>
<div class="d-flex align-items-center chat-room-div">
    <div class="d-flex-row chat-room-top-div">
        
        <div class="d-flex chat-room-messages">
            <ul class='d-flex chat-room-message-list'>
                <li>Message 1</li>
                <li>Message 2</li>
            </ul>
        </div>
        <div class="d-flex chat-room-members bg-discode-darker">
            <ul class='d-flex chat-room-members-list'>
                <li *ngFor="let member of chatMembers">{{member.userId}}</li>
            </ul>
        </div>
    </div>
   
    <div class="d-flex chat-room-input-box bg-discode-darkest">
        <h1>User Input Box</h1>
    </div>
</div>