@import "src/colors.scss";

.chat-room-div {
    height: 87vh;
}

.chat-room-div > div,
.chat-room-top-div > div {
    border-radius: 4px;
}

.chat-room-top-div {
    height: 90%;
    max-height: 90%;
    min-width: 100%;
    margin-bottom: 10px;
}

.chat-room-messages {
    min-width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-room-members {
    min-width: 10%;
    align-items: center;
    padding-top: 5px;
    align-items: center;

    .chat-room-member {
        width: 90%;
        min-width: 90%;
        border-radius: 4px;
        padding: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .chat-room-member-tooltip {
            visibility: hidden;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 5px 10px 5px 10px;
            margin: -5px;
            background-color: $discode-dark-blue;
            color: white;
            width: fit-content;
            max-width: 300px;
            border-radius: 4px;
            position: absolute;
            z-index: 1;
            right: 9%;
            text-align: right;
        }
    }

    .chat-room-member:hover {
        background-color: $discode-dark;
        color: white;
        cursor: default;

        .chat-room-member-tooltip {
            visibility: visible;
        }
    }
}

.chat-room-input-box {
    min-width: 100%;
    height: 0px;
    text-align: center;

}

.chat-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;

    button {
        width: fit-content;
        max-width: 30%;
        height: 5vh;
    }

    .chat-title-content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

hr.solid {
    margin-top: 0px;
    width: 99%;
    border-top: 2.5px solid $discode-light;
    border-radius: 1px;
}

.menu-list {
    cursor: pointer;
}

.member-list {
    display: flex;
    margin: 5px;

    p {
        width: 50%;
        padding: 5px;
        overflow: hidden;
    }

    .btn-discode-green {
        padding: 5px;
        height: 35px;
    }
}

.send-message-form {
    .message-box {
        width: 90%;
        padding: 0;

        textarea {
            padding-top: 0.5em;
            padding-bottom: 0;
        }
    }

    div {
        width: 10%;
        button {
            max-height: 4vh !important;
            height: 4vh !important;
            width: 5vw !important;
        }
    }
}

.chat-options-modal {
    margin-top: 10vh;
}

.code-modal {
    position: absolute;
    padding: 0 !important;
    width: 50%;
    height: 51%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
    * {
        border: none;
    }

    .modal-dialog {
        width: 100%;
        max-width: none;
        height: 100%;
        margin: 0;
    }

    .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }

    .modal-body {
        height: 100%;
        overflow-y: auto;
    }

    .code-area {
        width: 100%;
        height: 100%;
    }

    .modal-header {
        align-items: center;
    }

    .language-selector {
        max-width: 200px;
        max-height: 40px;
    }

    .footer-btns > * {
        height: 40px;
        width: 130px;
        margin-left: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.btn-load-more {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 10vw;
    border-radius: 4px;
    background-color: $discode-grey;
    color: $discode-light;
    align-self: center;
    cursor: pointer;
    margin-bottom: 10px;
}