/* You can add global styles to this file, and also import other style files */
@import "~mdb-ui-kit/css/mdb.dark.min.css";
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';

$discode-darkest: #23272a;
$discode-dark: #2c2f33;
$discode-darker: darken($discode-dark, 2%);
$discode-grey: lighten($discode-dark, 5%);
$discode-light: #97a9b4;
$discode-blue: #7289da;
$discode-dark-blue: darken($discode-blue, 10%);
$discode-green: rgb(59, 165, 93);
$discode-light-green: lighten($discode-green, 10%);
$discode-dark-green: darken($discode-green, 5%);

body {
    overflow-x: hidden;
    color: $discode-light;
}

code {
    color: $discode-blue !important;
}

a {
    color: $discode-light-green !important;
}

a:hover {
    color: $discode-green !important;
}

.d-flex {
    display: flex;
    flex-direction: column;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
}

.btn-rounded {
    border-radius: 4px !important;
}

.form-discode-blue button {
    background-color: $discode-green !important;
}

.form-discode-blue button:hover {
    background-color: $discode-dark-green !important;
}

.form-discode-blue * {
    border-color: $discode-blue !important;
}

.form-discode-blue input:focus + label {
    color: $discode-blue !important;
}

.select-discode-darkest {
    background-color: $discode-darkest;
    color: $discode-blue;
    border: none;
}

.select-discode-green {
    background-color: $discode-green;
    color: white;
    border: none;
}

.btn-discode-green {
    background-color: $discode-green !important;
}

.btn-discode-green:hover,
.btn-discode-green:focus {
    background-color: $discode-dark-green !important;
}

.btn-discode-dark {
    background-color: $discode-grey !important;
    font-weight: bold;
}

.btn-discode-dark:hover,
.btn-discode-dark:focus {
    background-color: $discode-dark !important;
}

.btn-discode-darker {
    background-color: $discode-dark !important;
    color: $discode-blue;
    box-shadow: none;
    border: none;
}

.btn-discode-darker:hover,
.btn-discode-darker:focus {
    background-color: $discode-darker !important;
    box-shadow: none;
    border: none;
    color: $discode-blue;
}

.bg-discode-darkest {
    background-color: $discode-darkest !important;
}

.fg-discode-darkest {
    color: $discode-darkest !important;
}

.bg-discode-dark {
    background-color: $discode-dark !important;
}

.fg-discode-dark {
    color: $discode-dark !important;
}

.bg-discode-darker {
    background-color: $discode-darker !important;
}

.fg-discode-darker {
    color: $discode-darker !important;
}

.bg-discode-grey {
    background-color: $discode-grey !important;
}

.fg-discode-grey {
    color: $discode-grey !important;
}

.bg-discode-light {
    background-color: $discode-light !important;
}

.fg-discode-light {
    color: $discode-light !important;
}

.bg-discode-blue {
    background-color: $discode-blue !important;
}

.fg-discode-blue {
    color: $discode-blue !important;
}

.bg-discode-dark-blue {
    background-color: $discode-dark-blue !important;
}

.fg-discode-dark-blue {
    color: $discode-dark-blue !important;
}

.bg-discode-green {
    background-color: $discode-green !important;
}

.fg-discode-green {
    color: $discode-green !important;
}

.bg-discode-light-green {
    background-color: $discode-light-green !important;
}

.fg-discode-light-green {
    color: $discode-light-green !important;
}

.bg-discode-dark-green {
    background-color: $discode-dark-green !important;
}

.fg-discode-dark-green {
    color: $discode-dark-green !important;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
background: $discode-grey; 
}

::-webkit-scrollbar-thumb {
background: $discode-dark; 
}

::-webkit-scrollbar-thumb:hover {
background: $discode-darker; 
}

.modal-content {
    background-color: $discode-grey;
 }