/* You can add global styles to this file, and also import other style files */
@import '~mdb-ui-kit/css/mdb.dark.min.css';

$discode-darkest: #23272A;
$discode-dark: #2C2F33;
$discode-light:#97A9B4;
$discode-blue: #7289DA;
$discode-dark-blue: darken($discode-blue, 10%);
$discode-green: rgb(59, 165, 93);
$discode-light-green: lighten($discode-green, 10%);
$discode-dark-green: darken($discode-green, 5%);

code {
    color: $discode-blue !important;
}

a {
    color: $discode-light-green !important;
}

a:hover {
    color: $discode-green !important;
}

.d-flex{
    display: flex;
    flex-direction: column;
}

.form-discode-blue button {
    background-color: $discode-green !important;
}

.form-discode-blue button:hover {
    background-color: $discode-dark-green !important;
}

.form-discode-blue * {
    border-color: $discode-blue !important;
}

.form-discode-blue input:focus+label {
    color: $discode-blue !important;
}

.btn-discode-green {
    background-color: $discode-green;
}

.btn-discode-green:hover,.btn-discode-green:focus {
    background-color: $discode-dark-green;
}

.bg-discode-darkest {
    background-color: $discode-darkest !important;
}

.fg-discode-darkest {
    color: $discode-darkest !important;
}

.bg-discode-dark {
    background-color: $discode-dark !important;
}

.fg-discode-dark {
    color: $discode-dark !important;
}

.bg-discode-light {
    background-color: $discode-light !important;
}

.fg-discode-light {
    color: $discode-light !important;
}

.bg-discode-blue {
    background-color: $discode-blue !important;
}

.fg-discode-blue {
    color: $discode-blue !important;
}

.bg-discode-dark-blue {
    background-color: $discode-dark-blue !important;
}

.fg-discode-dark-blue {
    color: $discode-dark-blue !important;
}

.bg-discode-green {
    background-color: $discode-green !important;
}

.fg-discode-green {
    color: $discode-green !important;
}

.bg-discode-light-green {
    background-color: $discode-light-green !important;
}

.fg-discode-light-green {
    color: $discode-light-green !important;
}

.bg-discode-dark-green {
    background-color: $discode-dark-green !important;
}

.fg-discode-dark-green {
    color: $discode-dark-green !important;
}