.right-span {
    position: fixed;
    right: 0;
}

.discode-header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 200;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
