<div class="card" style="width: 30rem;">
    <div class="card-body bg-discode-darkest">
      <h5 class="card-title fg-discode-blue">Welcome to Discode</h5>
      <h6 class="card-subtitle mb-2 text-muted">It's like Discord, but with code.</h6>
      <p class="card-text">
       Discode &trade; is an online chatting platform that allows interactive code execution in the form
       of integrated snippets that can be sent directly in the chat.
      </p>
      <a href="./auth/register" class="card-link">Register</a>
      <a href="./auth/login" class="card-link">Log in</a>
    </div>
  </div>