<div class="d-flex align-items-center justify-content-center p-5 mt-5">
    <form class="form-discode-blue" id="profileForm">
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
            <div class="col">
                <div class="border-primary">
                    <label class="form-label" for="updateFirstName">First name</label>
                    <input type="text" id="updateFirstName" class="form-control" placeholder="First name" aria-label="First name"/>
                </div>
            </div>
            <div class="col">
                <div class="border-primary">
                    <label class="form-label" for="updateLastName">Last name</label>
                    <input type="text" id="updateLastName" class="form-control" placeholder="Last name" aria-label="Last name"/>
                </div>
            </div>
        </div>

        <!-- Email input -->
        <div class="mb-4 border-primary">
            <label class="form-label" for="updateEmail">Email address</label>
            <input type="email" id="updateEmail" placeholder="Email" class="form-control" />
        </div>

        <!-- Bio input -->
        <div class="mb-4 border-primary">
            <label class="form-label" for="updateBio">Bio</label>
            <br />
            <textarea rows="4" cols="60" name="bio" form="profileForm" class="form-control" placeholder="Enter something about you" style="resize: none;"></textarea>
        </div>

        <!-- Image input -->
        <div class="mb-4 border-primary">
            <label class="form-label" for="updateImage">Profile picture</label>
            <br />
            <input type="file" id="profilePicture" name="profilePicture" class="form-label">
            <br />
            <input type="submit" class="btn btn-primary mb-4" value="Upload">
        </div>

        <!-- Password input -->
        <div class="mb-4 border-primary">
            <label class="form-label" for="updatePassword">New password</label>
            <input type="password" id="updatePassword" placeholder="Password" class="form-control" />
        </div>

        <!-- Confirm Password input -->
        <div class="mb-4 border-primary">
            <label class="form-label" for="updateConfirmPassword">Confirm password</label>
            <input type="password" id="updateConfirmPassword" placeholder="Password" class="form-control" />
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Update</button>
    </form>
</div>