<div class="col-3 bg-discode-darker sidenav-tab">
    <!-- Tab navs -->
    <div class="nav flex-column text-center">
        <button type="button" routerLink="./home" class="btn btn-primary m-2 btn-discode-dark fg-discode-light">
            Home</button>
        <button type="button" routerLink="./messages" class="btn btn-primary m-2 btn-discode-dark fg-discode-light">
            Messages</button>
        <button type="button" routerLink="./profile" class="btn btn-primary m-2 btn-discode-dark fg-discode-light">
            Profile</button>
    </div>
    <!-- Tab navs -->
</div>
